.bg-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    opacity: .7;
}
.auth-full-bg .bg-overlay {
    background: url(../assets/login-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.auth-full-bg {
    background-color: rgba(85, 110, 230, .25);
    display: flex;
}